
<div class="container">
  <h2>Users Add</h2>
 
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group">
          <label>Account Name</label>
          <input
            type="text"class="form-control" [(ngModel)] = "name">
        </div>
        <div class="form-group">
          <label>Years</label>
          <input
            type="text" class="form-control" [(ngModel)] = "years">

            <button
            class="btn btn-primary"
            (click)= "addNewUser()">
            Add Account
          </button>
      
        </div>
  
  

<div class="panel panel-primary" *ngFor="let all of users">
    <div class="panel-heading">All users</div>
    <div class="panel-body"> <dt>{{all.name}}</dt>
      <dd>{{all.years}}</dd>
      <button class="btn btn-primary" (click)= "deleteUser(all)"> Delete user
        </button>
     </div>

  </div>

<button  class="btn btn-primary" (click)="goBack()">Go back</button>
</div>